<!DOCTYPE html>
<html>
<head>
  <%- include('./layout/head') %>
</head>
<body>
    <%- include('./layout/header') %>
  <section class="task-view container">
    <ul id="task-list">
      <% results.forEach(task => { %>
        <li class="task-item" data-id="<%= task.id %>">
          <p>Task: <%= task.title %></p>
          <p>Status: <%= task.status %></p>
          <p>Description: <%= task.description %></p>
          <p>Task Id: <%= task.id %></p>
          <a href="/tasks/<%= task.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>
